alias gs="git status"
alias dev="cd ~/Development"
alias vim="mvim -v"
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"
