"*":
  "exception-reporting":
    userId: "9c996493-943f-08bd-97ff-0bf964cfee3d"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
    disabledPackages: [
      "wrap-guide"
    ]
  editor:
    invisibles: {}
    softWrap: true
    fontSize: 15
    tabType: "soft"
  minimap:
    plugins:
      "git-diff": true
  "go-plus": {}
